.purple-box {
    background: #87509c;
    padding: 60px 0 145px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1034px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu-item {
    margin-left: 54px;
    list-style: none;
}

.menu-link-one {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    position: absolute;
    left: 828px;
    top: 78px ;
}
.menu-link-two {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    position: absolute;
    left: 915px;
    top: 78px ;
}
.menu-link-three {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    position: absolute;
    left: 1010px;
    top: 78px ;
}
.menu-link-fourth {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    position: absolute;
    left: 1095px;
    top: 78px ;
}
.menu-link-five {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    position: absolute;
    left: 1180px;
    top: 78px ;
}

.menu-link-one:hover {
    background: #643a79;
    padding: 2px 3px;
    border-radius: 3px;
}
.menu-link-two:hover {
    background: #643a79;
    padding: 2px 3px;
    border-radius: 3px;
}
.menu-link-three:hover {
    background: #643a79;
    padding: 2px 3px;
    border-radius: 3px;
}
.menu-link-fourth:hover {
    background: #643a79;
    padding: 2px 3px;
    border-radius: 3px;
}
.menu-link-five:hover {
    background: #643a79;
    padding: 2px 3px;
    border-radius: 3px;
}

.header-title {
    color: #fff;
    margin-top: 148px;
    margin-bottom: 54px;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    font-weight: bold;
}

.button {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    background: #ed7d44;
    width: 200px;
    padding: 30px 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px 5px 0 0;
    position: relative;
    font-weight: 600;
}

.button::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    height: 4px;
    background: #c86a40;
    border-radius: 0 0 5px 5px;
}
.button:hover{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    background: #00c3a4;
    width: 200px;
    padding: 30px 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px 5px 0 0;
    position: relative;
    font-weight: 600;
}
.button:hover::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    height: 4px;
    background: #00a58b;
    border-radius: 0 0 5px 5px;
}


.cyan-box{
    background: #00c3a4; 
    padding: 119px 0 145px;
}

/* Slide */
.slide img {
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.slide img:hover {
	margin-top: -30px;
}

.cyan-title{
    color:white; 
    text-align: center; 
    font-weight: bold; 
    font-size: 40px; 
    text-transform: uppercase;
    margin-bottom:22px;
}

.cyan-line{
    height:4px;
    width: 90px;
    margin: 0 auto;
    background: #00a58b;
}

.cyan-subtitle{
    color: white; 
    text-align: center; 
    font-size: 18px;
    margin-left: 418px;
    margin-right:418px;
    margin-top:24px;
}

.cyan-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15%;
    position: relative
}

.cyan-picture{
    padding-top:79px;
    padding-left:50;
    padding-right:50;
    position: absolute;
}
.cyan-picture-dev{
    padding-top:79px;
    padding-left:10;
    padding-right:50;
    position: absolute;
}

.cyan-title-items{
    color:white;
    font-size:24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 271px;
    margin-bottom: 22px;
    text-align:center;
}

.cyan-text-items{
    color:white;
    font-size:16px;
    text-align:center;
}


.grey-box{
    background: #e6f0f7; 
    padding: 119px 0 145px;
}

.grey-title{
    color: #3c4662;
    text-transform: uppercase;
    text-align: center; 
    font-size: 41px; 
    margin-bottom: 51px; 
    font-weight: bold;
    margin-bottom: 22px;
}

.grey-line{
    height:4px;
    width: 90px;
    margin: 0 auto;
    background:#c6d8e5;
}

.grey-subtitle{
    color: #4d5871;
    text-align: center; 
    font-size: 19px;  
    margin-bottom: 97px;
    margin-top:24px;
}

.grey-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15%;
}

.grey-items{
    justify-content: space-between;
}

.base-title{
    color:#3c4662;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 40px;
}

.base-subtitle{
    color: #3abdea;
    font-size: 16px;
    text-align: center;
    margin-bottom: 35px;
}

.grey-text{
    color:#8790a1;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}

.sm-box{
    justify-content: center;
    display:flex;
}

.sm-picture{
    margin: 0 4%; 
    display: block;
    width: 32px;
    height: 32px;
}
.sm-picture img:hover{
    opacity: 0.5;
}


.white-box{
    background: #ffffff;
    padding: 119px 0 145px;
}

.white-title{
    color:#3c4662;
    font-size:40px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 22px;
}

.white-line{
    height:4px;
    width: 90px;
    margin: 0 auto;
    background:#dfe8ed;
}

.white-subtitle{
    color:#515b73;
    font-size: 18px;
    text-align: center;
    margin-bottom: 80px;
    margin-top:24px;
}

.white-container{
    justify-content: space-between;
    align-items:center; 
    margin: 0 15%;
    display: flex;
}

/* Rotation */
.rotate img {
    -webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
.rotate img:hover{
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

.white-txt{
    font-size:24px;
    font-weight: bold;
    color: #3c4662;
    text-transform: uppercase;
    text-align: center;
    margin-top:28px;
}

.yellow-box{
    background:#ffde95;
    padding: 119px 0 145px;
}

.yellow-title{
    color: #393939;
    font-size:40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 22px;
}

.yellow-line{
    height:4px;
    width:90px;
    margin:0 auto;
    background: #e6c47a;
}

.yellow-subtitle{
    color: #5c5547;
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
    margin-top:24px; 
}

.yellow-menu{
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin: 0 46%;
}

.link-isActivesecond, 
.yellow-menu-items:hover {
    background: #e6c47c;
    padding: 4px 10px;
    border-radius: 3px;
}

.yellow-menu-items:hover {
    background: #fff;
    padding: 4px 10px;
    border-radius: 3px;
}

.yellow-menu-items{
    list-style: none;
    font-size:18px;
    text-align:center;
    margin: 0 15%; 
    text-transform: uppercase;
}

.yellow-link{
    text-decoration: none;
    color: #393939;
}

.yellow-container{
    justify-content: space-between;
    margin: 0 auto;
    display:flex;
    margin-top:60px;
    width: 1100px;

}

.laptop-picture{
    margin-bottom: 40px;
}
/* Flash */
.laptop-picture:hover{
	opacity: 1;
	-webkit-animation: flash 2.5s;
	animation: flash 2.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

.link-laptop{
    color: #5c5547;
    font-size:18px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
}

.button-laptop{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    background: #00c2a3;
    width: 290px;
    padding: 20px 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px 5px 0 0;
    position: relative;
    margin-top:80px;
}

.button-laptop::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    height: 4px;
    background: #00a68c;
    border-radius: 0 0 5px 5px;
}
.button-laptop:hover{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    background: #d94380;
    width: 290px;
    padding: 20px 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px 5px 0 0;
    position: relative;
    margin-top:80px;
}
.button-laptop:hover::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    height: 4px;
    background: #b8396c;
    border-radius: 0 0 5px 5px;
}


.pink-box{
    background: #d94380;
    padding: 119px 0 0px;
}

.pink-title{
    color:#fff;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 22px;
}

.pink-line{
    height:4px;
    width:90px;
    margin:0 auto;
    background: #b8396c;
}

.pink-subtitle{
    color:#fff;
    font-size:18px;
    margin-bottom:80px;
    margin-top: 24px;
    text-align: center;
}

.pink-container{
    justify-content: space-between;
    display: flex;
}

.pink-box-items{
    margin:0 auto;
}

.pink-items{
    width:540px;
    height:100px;
}

.pink-picture{
    height:90px;
    width:90px;
    float: left;
    margin-right:40px;
}

.pink-items-txt{
    color:#fff;
    font-size: 21px;
    margin-left:48px;
    padding-top:10px;
}

.pink-items-name{
    color:#fff;
    font-size:24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left:130px;

}

.pink-items-description{
    color:#fbcd91;
    font-size:18px;
    margin-bottom:160px;
    margin-left:130px;
}


.blue-box{
    background:#3b529b;
    padding: 119px 0 145px;
}

.blue-title{
    color:white;
    font-size:40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom:22px;
    text-align:center;
}

.blue-line{
    height:4px;
    width:90px;
    margin:0 auto;
    background: #304587;
}

.blue-subtitle{
    color:white;
    font-size:18px;
    text-align:center;
    margin-top:24px;
    margin-bottom: 77px;
}

.blue-container{
    margin:0 auto;
    display: flex;
    flex-direction: column;
}

.blue-items{
    margin: 0 auto;
    display:flex;
}

.blue-txt-first{
    color:white;
    font-size:18px;
    background:#263873;
    width:415px;
    margin-left:32px;
    border-radius: 5px 5px;
    margin-bottom: 27px;
    padding-left:26px;
    padding-top:22px;
    padding-bottom: 22px;
    flex-direction: row;
}

.blue-txt-second{
    color:white;
    font-size:18px;
    background:#263873;
    height:200px;
    width:888px;
    border-radius: 5px 5px;
    padding-top: 22px;
    padding-left:26px;
    margin-left: 32px;
}

.star{
    color:#f74141;
}

.blue-picture{
    justify-self: flex-end;
    align-self: flex-end;
}

.blue-button{
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        background: #22b9e9;
        width: 295px;
        padding: 20px 10px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 5px 5px 0 0;
        position: relative;
        margin-top:59px;
}

.blue-button::after {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;
        height: 4px;
        background: #1e9dc7;
        border-radius: 0 0 5px 5px;
}
.blue-button:hover{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    background: #00c2a3;
    width: 295px;
    padding: 20px 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px 5px 0 0;
    position: relative;
    margin-top:59px;
}
.blue-button:hover::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    height: 4px;
    background: #00a68c;
    border-radius: 0 0 5px 5px;
}


.footer{
    background:#334990;
    padding: 10px 0 10px;
}

.last-txt{
    font-size: 24px;
    font-weight: 600;
    flex-direction: row;
    display: flex;
    margin:42px 249px;
    justify-content: space-between;
}

.footer-link{
    text-decoration: none;
    color:white;
}
.footer-link:hover{
    color:#23b7e7;
}
